<!DOCTYPE html>
<html>
<head>
  <title>CreditMiniScore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar fixed: :top, brand: 'CreditMiniScore &udarr;'.html_safe do %>
    <%= menu_group pull: :left do %>
      <%= menu_item "Home", root_path %>
      <%= menu_item "Link 1", root_path %>
      <%= menu_item "Link 2", root_path %>
      <% if connected_to_fb? %>
        <%= menu_item "FB connected: <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>".html_safe %>
      <% else %>
        <%= menu_item "FB: <span class='glyphicon glyphicon-ok' aria-hidden='true'></span>".html_safe %>
      <% end %>
    <% end %>
  <% end %>
  <br/><br/>
  <div class="container">
	<%= yield %>
  </div>
</body>
</html>
